@import '../../assets/styles/global_variables.scss';


.reporter {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;

    & a {
       color: $green_color;
       text-decoration: underline;
    }
}

.photo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}