$main_font: "Open Sans", sans-serif;
$main_font_size: 14px;
$green_color: #26c17e;
$dark-gray: #222935;

body {
    font-family: $main_font;
    font-size: $main_font_size;
    line-height: 21px;
    padding: 20px;
}

.info-box {
    margin: 0px 0px 50px;

    & h2 {
        margin-bottom: 40px;
        margin-top: 20px;
        color: $green_color;
        font-size: 25px;
        font-weight: 700;
    }
}

.info {
    background: #eee;
    padding: 16px;
}

.button {
    height: fit-content;
    display: inline-block;
    background-color: $dark-gray;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: $green_color;
}

.expertise-list {
    // padding-left: 40px;
    // margin: 0px 16px;
}

.expertise-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    font-size: 16px;
}

.expertise-list-date {
    width: 160px;
    margin-right: 20px;
}

.expertise-list h3 {
    margin-bottom: 10px;
    font-weight: 700;
}

.expertise-list p {
    font-size: $main_font_size;
}

.feedback-reporter {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.feedback-photo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.nav {
    font-size: 16px;
    font-weight: 600;
    color: #667081;
    width: 250px;
}

.nav li {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background-color: $dark-gray;
}

.nav li:hover {
    color: $green_color;
}

.nav-icon {
    margin-right: 20px;
}

.photoBox {
    width: 500px;
    text-align: center;
}

.photoBox-photo {
    margin-bottom: 10px;
}

.photoBox-photo img {
    border-radius: 50%;
    border: 1px solid white;
}

.photoBox-name {
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 700;
    line-height: 120%;
}

.photoBox-title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    line-height: 120%;
}

.photoBox-description {
    line-height: 150%;
}

.photoBox--small {
    width: 250px;
    text-align: center;

}

.photoBox-name--small {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

@media (max-width: 600px) {
.nav {
    width: 54px;
}
    .nav a {
        display: none;
    }
}