@import "../../assets/styles/global_variables.scss";

.wrapper {
    display: flex;
}

.side_menu {
    position: sticky;
    top: 0px;
    height: 100vh;
}

.main_content {
    flex-grow: 1;
    margin-right: 45px;
    padding-left: 35px;
}

.back_to_top {
    position: fixed;
    right: 10px;
    bottom: 0;
    color: $white_color;
    background-color: $dark-gray;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 25% 25% 0% 0%;
    text-align: center;
}

@media (max-width: 600px) {
    .main_content {
        margin-left: 5px;
        margin-right: 5px;
    }
}
