@import "../../assets/styles/global_variables.scss";

.wrapper {
    position: relative;
    max-width: 100%;
}

.open_edit {
    position: absolute;
    top: -65px;
    right: 0;
}

.hidden {
    display: none;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 40px 20px 40px 20px;
    column-gap: 10px;
    margin-bottom: 10px;
}

form {
    position: relative;
    max-width: 60%;

    & label {
        align-self: center;
    }

    & input {
        border: 1px solid $dark-gray;
        border-radius: 5px;
    }
}

.error {
    grid-column-end: span 2;
    color: red;
    font-size: 12px;
}

.submit_btn {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0;
    width: 105px;
}

.submit_btn:disabled {
    background-color: $disabled_gray;
    color: black;
}

.invalid {
    border: 2px solid red;
}

.frame {
    margin-bottom: 40px;
    border: 1px solid $green_color;
    padding: 20px;
    border-radius: 5px;
}

.chart {
    height: 30px;
    max-width: 100%;
    line-height: 30px;
    background-color: $green_color;
    padding-left: 15px;
    margin-bottom: 5px;
    color: $white_color;
}

.scale {
    margin-top: 30px;
    display: flex;
    font-size: 12px;
    color: $pale_gray_text;
    border-top: 1px solid $pale_gray_text;
    justify-content: space-between;

    & div {
        position: relative;
    }

    & :first-child {
        justify-self: start;
    }

    & :last-child {
        justify-self: end;
    }
}

.profficient::before,
.expert::before {
    position: absolute;
    content: "|";
    font-size: 8px;
    font-weight: 700;
    top: -16px;
    left: 48%;
}

.beginner::after {
    position: absolute;
    content: "|";
    font-size: 8px;
    font-weight: 1000;
    top: -16px;
    left: -2px;
}

.master::after {
    position: absolute;
    content: "|";
    font-size: 8px;
    font-weight: 1000;
    top: -16px;
    right: -2px;
}

