$main_font: "Open Sans", sans-serif;
$main_font_size: 14px;
$green_color: #26c17e;
$dark-gray: #222935;
$light-gray: #eee;
$white_color: #fff;
$gray_nav_text: #667081;
$transparent_white: rgba(255, 255, 255, 0.95);
$off-white: #DDDDDD;
$disabled_gray: #2e343d;


